.nav {
    display: flex;
    margin: 15px 33.5px;
    align-items: center;
    margin-bottom: 0;
    img {
        height: 20px;
        margin-right: .1rem;
    }
    .app-name {
        font-family: Arial;
    }
}