<div class="footer">
    <div class="first-content">
        <div class="footer-icon">
            <app-place-holder [width]="44" [height]="44" [iconWidth]="27.58" [iconHeight]="11.52" color="#CBCBCB"></app-place-holder>
        </div>
        <div class="navs">
            Home
            <span class="separator"></span> Asthma
            <span class="separator"></span> Sever Asthma
            <span class="separator"></span> COPD
            <div class="hidden-on-dekstop">
                <img src="../../../assets/images/book.png" alt="">
                <span class="separator" style="transform: translateY(-10px);"></span>
                <img src="../../../assets/images/map-pin.png" alt="">
            </div>
        </div>
        <div class="dots-container hidden-on-dekstop">
            <div class="margin-3">
                <app-ellipse [height]="21" [width]="21" color="#767676"></app-ellipse>
            </div>
            <div class="margin-3">
                <app-ellipse [height]="21" [width]="21" color="#767676"></app-ellipse>
            </div>
            <div class="margin-3">
                <app-ellipse [height]="21" [width]="21" color="#767676"></app-ellipse>
            </div>
            <div class="margin-3">
                <app-ellipse [height]="21" [width]="21" color="#767676"></app-ellipse>
            </div>

        </div>
    </div>
    <div class="second-content">
        <div> © 2001-2021</div>
        <div>All rights reserved. Trade marks are owned by</div>
        <div>or licensed to the ABC group of companies.</div>
        <div> ABC plc. Registered in England </div>
        <div>and Wales. Registered office: </div>
        United Kingdom.
    </div>
</div>