@media only screen and (max-width: 1300px) {
    .first-content {
        height: 215px;
        background-size: 260.2px 95.51px;
        h1 {
            font-size: 18px;
            text-align: center;
            width: 248px;
        }
        p {
            width: 232px;
            font-size: 12px;
        }
    }
}