@media only screen and (max-width: 1300px) {
    .hasBackground {
        background: #FAFAFA;
    }
    .pop-container {
        align-items: center;
        width: 282px;
        height: 286px;
        .header {
            align-self: flex-end;
            width: 70px;
            .box {
                .close-button {
                    width: 29px;
                    height: 70px;
                }
            }
        }
        p {
            font-size: 16px;
        }
    }
}